body {
    color: black;
    font-size: 16px;
    font-family: "Computer Modern Serif";
    margin: 0px auto 0px auto;
    max-width: 800px;
}

img.leftsidegraphic {
    float: left;
    margin: 10px;
    width: 40%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding-left: 1em;
    text-indent: -0.7em;
}

ul li::before {
    content: "· ";
}

div#header {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo {
    float: left;
}

div#logo img {
    float: left;
}

div#logo a {
    color: black;
//    font-size: 18px;
//    font-weight: bold;
    text-decoration: none;
}

div#content {
    clear: both;
    text-align: justify;
}

div#news {
    clear: both;
    text-align: left;
}

div.infobox {
    width: 50%;
    float: left;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
//    font-size: 18px;
//    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
//    text-transform: uppercase;
}

div#footer {
    clear: both;
    border-top: solid 1px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    //    font-size: 24px;
    font-weight: normal;
    text-align: left;
}

h2 {
//    font-size: 20px;
    font-weight: normal;
    text-align: left;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.deemph {
    color: #999;
}

.more {
    text-align: right;
}
